name: Build and Publish Docker Image

on:
  push:
    branches: [ main ]

env:
  GITHUB_USERNAME_LOWERCASE: ${{ lower(github.actor) }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ env.GITHUB_USERNAME_LOWERCASE }}/gen_ai:latest .

      - name: Push Docker image to GHCR
        run: docker push ghcr.io/${{ env.GITHUB_USERNAME_LOWERCASE }}/gen_ai:latest